@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.main-heading {
  font-family: "Lobster", sans-serif;
  color: black;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 2rem;
  text-align: center;
}
