.signup-form {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 4rem;
  gap: 1rem;
  border-radius: 1rem;
  margin-top: 5%;
  margin-bottom: 2rem;
}

.back-to-login {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
}
