.movie-view {
  padding-top: 48px;
  padding-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border: 4px solid black;
  width: 700px;
  border-radius: 24px;
  background-color: black;
  color: white;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
}

.movie-view-image {
  border: 4px solid black;
  border-left: 88px solid white;
  border-right: 88px solid white;
  width: 75%;
  background-color: black;
}

.title {
  font-size: 48px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 0px black;
}

.description {
  width: 500px;
}

.label {
  font-weight: bold;
}

button {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 20px;
  right: 280px;
  background: none;
  border: none;
  cursor: pointer;
  text-shadow: 2px 2px 2px black;
}
