body {
  display: flex;
  justify-content: center;
}

.movie-view {
  background-color: black;
  margin-top: 8rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: start;
  max-width: 75%;
  align-items: center;
  gap: 48px;
  color: white;
}

.movie-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  font-size: 48px;
  font-weight: bold;
}

.description {
  width: 500px;
}

.label {
  font-weight: bold;
}

.back-button {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  cursor: pointer;
  text-shadow: 2px 2px 2px black;
}
